# Common
node_modules
*.log
.DS_Store
TODO.md

# Transpiled files
./alphabet.js
./cli.js
./factories.js
./helpers.js
./index.js
./PhonogramCode.js

# Transpiled directories
./english
./french
./spanish
